################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL_C_Project/.vs/OpenGL_C_Project/v16/Browse.VC.opendb
